@font-face {
    font-family: 'gotham';
    src: url('../fonts/gtm_black-webfont.eot');
    src: url('../fonts/gtm_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gtm_black-webfont.woff') format('woff'),
         url('../fonts/gtm_black-webfont.ttf') format('truetype'),
         url('../fonts/gtm_black-webfont.svg#gotham_htfblack') format('svg');
    font-weight: normal;
    font-style: normal;

}